body{
	background: #3586ff;
}

.about-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
  }
  
  .image-container {
    flex-basis: 40%;
    margin-right: 50px;
  }
  
  .about-section img {
    width: 50%;
    border-radius: 50%;
    border-style: dotted;
    border-color: white;
  }
  
  .text-container {
    flex-basis: 100%;
  }
  
  h2 {
    font-size: 28px;
    margin-bottom: 20px;
  }
  
  p {
    font-size: 18px;
    line-height: 1.5;
  }
  