body{
    background-color: rgb(0, 0, 0);
    color: white;
    position: absolute;
    overflow-y: scroll;
}

.container {
    border-color: aliceblue;
    border-style: dashed;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    margin-bottom: 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  /* Style the video div */
  .video {
    width: 60%;
    margin-bottom: 20px;
  }
     
  /* Style the text div */
  .text {
    width: 100%;
    margin-bottom: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
  
  /* Style the media items within each div */
  video {
    width: 100%;
  }
  
  /* Add some extra styles for the text div */
  .text h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  .text p {
    font-size: 16px;
    line-height: 1.5;
  }

  .box{
    padding-left: 10px;
    padding-right: 10px;
    border-style: dotted;
    width: 1500px;
  }
  
  #panel {
    position: fixed;
    top: 5%;
    left: 15%;
    padding-top: 2%;
    padding-left: 2%;
    width: 70%;
    height: 90%;
    display: none;
    background-color: #343434;
    z-index: 9999;
    overflow-y: scroll;
  }

  .panel-content {
    top: 10%;
    max-width: 100%;
    max-height: 100%;
    animation: scale-up 1s forwards ease-in-out;
  }
  
  #toggle-btn {
    position: fixed;
    width: 300px;
    height: 50px;
    font-size: 28;
    top: 85%;
    z-index: 10000;
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;

    animation: text-scale 1s forwards infinite ease-in-out;
  }

  #toggle-btn:hover{
    background-color: #4caf4f7a;
  }
  
  #toggle-btn:focus + #panel {
    display: block;
    overflow: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;
  }

  #panel.open {
    z-index: 1000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: scale-up 1.5s forwards ease;
  }

  @keyframes text-scale{
    0%{
        font-size: 1.65em;
    }
    50%{
        font-size: 1.6em;
    }
    100%{
        font-size: 1.65em;
    }
  }

  @keyframes scale-up{
    0%{
        background-color: rgba(240, 246, 255, 0);
        scale: 0;
    }
    100%{
        scale: 1;
    }
  }

  @keyframes slideIn {
    from {
      transform: translateY(-100%);
    }
    to {
      transform: translateY(0);
    }
  }

  body.panel-open {
    position: fixed;
    overflow: hidden;
  }

  #panel .panel-content pre{
    padding-top: 10px;
    padding-bottom: 10px;
    width: 60%;
    border-style: solid;
    background-color: rgb(46, 46, 46);
  }